/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 mars 2016, 18:12:46
    Author     : yaro
*/

header {
    background-color:#9d9d9d;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif, Arial, serif; font-weight: 400; 
    color: #e7e7e7;
}
